* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
}
:root {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
}

body {
  background: linear-gradient(45deg, #190361 0%, #b0f 100%);
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  background: linear-gradient(45deg, #190361, #bb00ff);
  animation: gradient 10s ease infinite;
  background-size: 200% 200%;
}
main {
  border-radius: 5px;
  background: #fff;
  box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.8);
  width: 42.8rem;
  padding: 4.8rem 6.4rem 6.4rem;
  text-align: center;
}
main h1 {
  font-family: "Montserrat";
  font-size: 2.4rem;
  color: #34355b;
  margin-bottom: 1.4rem;
}
main p {
  color: #34355b;
  font-size: 1.5rem;
  font-family: "DM Sans";
  margin-bottom: 2rem;
}

/* Definindo a animação keyframes */
@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px) rotate(-5deg);
  }
  50% {
    transform: translateX(5px) rotate(5deg);
  }
  75% {
    transform: translateX(-5px) rotate(-5deg);
  }
  100% {
    transform: translateX(0);
  }
}

/* Aplicando a animação ao passar o mouse */
.imagem-tremendo:hover {
  animation: shake 0.3s ease-in-out infinite;
}
.screen1.hide {
  display: none;
}
.screen2.hide {
  display: none;
}
.screen2 {
  display: flex;
  flex-direction: column;
}
/* Tela 2 */
.screen2 p {
  font-family: "Dancing Script", cursive;

  font-size: 2.4rem;
  text-align: center;
}
button {
  padding: 1.6rem;
  border-radius: 4px;
  background: #ff9500;
  color: #fff;
  font-family: "DM Sans";
  margin-top: 6.5rem;
}
